* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #000;
}

body {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.container,
.icons-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.icons-row > a > i {
  font-size: 1.3rem;
  color: #9f9f9f;
  margin: 20px 0;
  transition: color 0.5s ease;
}

.icons-row:hover > a > i {
  color: #fff;
}

.icons-row > a:nth-child(1) > i:hover {
  color: #cc5757;
}

.icons-row > a:nth-child(2) > i:hover {
  color: #e2b54d;
}

.icons-row > a:nth-child(3) > i:hover {
  color: #4f5e69;
}

.icons-row > a:nth-child(4) > i:hover {
  color: #8aace4;
}

.icons-row > a:nth-child(5) > i:hover {
  color: #d4cab2;
}

.box {
  color: #fff;
  position: relative;
  display: flex;
  justify-content: stretch;
  align-items: center;
  width: 50%;
  height: 350px;
  overflow: hidden;
}

.box:has(.title) {
  cursor: pointer;
}

.box.wide {
  width: 100%;
}

.box.fit {
  height: max-content;
}

.box.text {
  flex-direction: column;
  align-items: flex-start;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  flex: 1;
  opacity: 0.7;
  transition: filter 0.5s ease,
              transform 0.5s ease;
  transform: scale(1.02);
  filter: contrast(1) blur(2px) grayscale(0.8);
}

.background.music {
  background-image: url(../images/music.jpg);
}

.background.news {
  background-image: url(../images/barbican.jpg);
}

.background.profile {
  background-image: url(../images/back.jpg);
}

.background.photos {
  background-image: url(../images/photos.jpg);
}

.background.sheet {
  background-image: url(../images/sheet.jpg);
}

.front {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../images/front.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  flex: 1;
  filter: grayscale(0.6);
  transition: filter 0.5s ease;
}

.title {
  width: 100%;
  height: 100%;
  font-size: 16vw;
  font-weight: 200;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  letter-spacing: -3px;
  mix-blend-mode: difference;
  color: #ffe7e7;
  text-shadow: 1px 1px 5px #79797979;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: color 0.5s ease,
              opacity 0.5s ease;
}

.border {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: #9f9f9f 10px solid;
  mix-blend-mode: hard-light;
  transition: border 0.5s ease,
              opacity 0.5s ease;
}

.box:hover > .title {
  color: #ffffff;
  opacity: 1;
}

.box:hover > .border {
  border: #ffffffb3 15px solid;
}

.box:hover > .background {
  filter: contrast(0.8) blur(0);
  transform: scale(1);
}

.box:hover > .front {
  filter: grayscale(0);
}

.box > p {
  color: #fff;
  word-spacing: 5px;
  font-weight: 300;
  font-size: 1.3rem;
}

.box > a > h1 {
  user-select: none;
}

.box > a > h1 > span {
  color: #d6d6d6;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
  font-size: 2rem;
  transition: color 0.5s ease,
              top 0.5s ease;
}

.box > a > h1 > span:hover {
  color: #ffffff;
}

.box > p > span.fancy-text {
  font-size: 2rem;
  font-style: italic;
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 1200px) {
  .title {
      font-size: 16vw;
  }
}

@media screen and (max-width: 900px) {
  .title {
      font-size: 15vw;
  }

  .box > p {
      font-size: 1.2rem;
  }
}

@keyframes hop {
  0%, 40% {
      color: #cbcbcb;
  }
  50% {
      color: #ffffff;
  }
  60%, 100% {
      color: #cbcbcb;
  }
}