.news-block {
    width: 100%;
    height: 400px;
    margin: 10;
    background-color: #00000080;
    border: 1px solid #2a2a2a80;
    border-radius: 15px;
    box-shadow: 0 0 10px #00000080;
    transition: box-shadow 0.5s ease;
    overflow: visible;
}

.news-block:hover {
    box-shadow: 0 0 10px #d8d8d822;
}

.news-item {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    border-radius: 15px;
    overflow: hidden;
}

.news-image {
    height: 40%;
    object-fit: cover;
    object-position: center;
}

.news-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.news-title, .news-date {
    margin: 10px;
    color: #ffffff;
    font-size: 0.8em;
}

.news-date {
    font-style: italic;
}

.news-title {
    font-weight: bold;
}

.news-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
    padding-top: 10px;
}

.news-item h2 {
    margin: 10px;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
}

.news-item h3 {
    margin: 10px;
    color: #ffffff;
    font-size: 1em;
    font-weight: bold;
}

.news-item p {
    margin: 10px;
    color: #ffffff;
    font-size: 0.8em;
    text-align: justify;
}