@import url('range.css');

:root {
    --extent: 60%;
}

.player {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000000cc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 600ms ease-in-out,
                transform 600ms ease-in-out;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px 20px;
    z-index: 2;
}

.player.visible {
    opacity: 1;
    transform: translateY(0);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex: 1;
}

.controls.play-controls {
    flex: 3;
}

.controls.info-controls {
    overflow: hidden;
}

.track-info {
    color: #c0c0c0;
    white-space: nowrap;
}

.track-info.marquee {
    animation: scrollAcross 15s linear infinite;
}

.volume-button,
.play-button {
    flex: 0 0 30px;
    height: 30px;
    border-radius: 50%;
    filter: invert(100%);
    background-size: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #23203185;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.play-button {
    background-image: url(../images/play.png);
}

.volume-button {
    background-image: url(../images/volon.png);
}

.play-button.playing {
    background-image: url(../images/pause.png);
}

.volume-button.muted {
    background-image: url(../images/voloff.png);
}

.current-time,
.total-time {
    color: #ffffff;
    font-size: 0.8rem;
    width: 20px;
}

@keyframes scrollAcross {
    0% {
        translate: 0;
    }
    25% {
        translate: calc(var(--extent) * -1);
    }
    75% {
        translate: var(--extent);
    }
    100% {
        translate: 0;
    }
}

@media screen and (max-width: 768px) {
    body {
        padding-bottom: 120px;
    }

    .player {
        flex-direction: column-reverse;
    }

    .controls.volume-controls {
        display: none;
    }

    .controls.info-controls {
        width: 100%;
    }

    .controls.play-controls {
        width: 100%;
    }
}