* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color-scheme: dark;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #000;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}