html,
body {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.background {
    background: url(../images/barbican.jpg) no-repeat center center fixed;
    background-size: cover;
    background-color: #d4f6ff;
    background-blend-mode: multiply;
    filter: contrast(0.8) brightness(1.2);
    height: 100vh;
    width: 100%;
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 40px 80px;
    z-index: 1;
}

.title {
    color: #ffffff;
    mix-blend-mode: difference;
    font-size: 3rem;
    font-weight: 300;
    letter-spacing: 5px;
    text-shadow: 0 1px 8px #00000083;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 20px 40px;
    }
}