:root {
    --offset: 10px;
}

html {
    scroll-snap-type: both mandatory;
    overflow-y: scroll;
}

html, body {
    margin: 0;
    padding: 0;
    background: #000;
}

.horizontal {
    display: flex;
    flex-direction: row;
}

.block {
    height: 100vh;
    width: calc(100vw - var(--offset));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-shadow: 5px 5px 1px #000;
    scroll-snap-align: center center;
}

/* Custom scrollbars */

::-webkit-scrollbar {
    width: var(--offset);
    height: var(--offset);
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #fff;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ccc;
}

@media screen and (max-width: 725px) {
    .horizontal {
        width: 300vw;
    }

    .block {
        height: 100vh;
        width: 100vw;
    }

    ::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}